* {
    margin: 0;
    padding: 0;
}
.container{
    background-color: #ececee;
}
.logo-1 {
    width: 200px;
    height: 50px;
}

ul li {
    color: #000000;
}

.color-white {
    background-color: #75BF7A;
    color: white;
    border: 2px solid #75BF7A;
    border-radius: 5.95px;
    height: 50px;
    width: 182px;
}

.color-white:hover {
    cursor: pointer;
    transition: 0.5sec;
    background-color: #75BF7A;
    color: rgb(17, 15, 15);
}

.heading-3 {
    height: 130px;
    width: 559px;
    color: #000000;
    font-size: 40px;
}

.para-1 {
    height: 120px;
    width: 550px;
    color: #9E9DA2;
    font-style: Gilroy;
    font-size: 20px;
}

.location {
    width: 200px;
    height: auto;
}

.location-1 {
    height: 400px;
    width: 500px;
}

/* .large-button{
    background-color: #75BF7A;
    width: 100px;
    height: 100px;
} */
.section-hero-1 {
    width: 100px;
    height: 50px;
}

.row-1 {
    border-radius: 5.95px;
    max-width: 100%;
    width: 1350px;
    height: 100px;
    background-color: #75BF7A;
}

.btn-1 {
    background-color: #000000;
    color: #ffffff;
    height: 60px;
    width: 270px;
    border-radius: 5px;

}

.para-2 {
    color: #ffffff;
    text-align: left;
}

.input {
    width: 300px;
}

.heading-2 {
    text-align: center;
    width: 400px;
    height: 50px;
    font-style: Gilroy;
    font-weight: bold;
}

.para-3 {
    width: 690px;
    height: 90px;
    text-align: center;


}

.col-3 {
    position: relative;
    border-radius: 2px;
}

.img {
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
margin-left: 300px;
}
.imga {
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
margin-left: 100px;
}
.image1 {
    position: absolute;
    top: 12px;
    left: 120px;
    width: 30px;
    height: 14px;
    margin-left: 200px;
}
.images3{
    position: absolute;
    top: 255px;
    left: 120px;
    width: 30px;
    height: 14px;
    margin-left: 200px;

}
.image2 {
    position: absolute;
    top: 12px;
    left: 120px;
    width: 30px;
    height: 14px;
    margin-right: 200px;
}
.images4{
    position: absolute;
    top: 255px;
    left: 120px;
    width: 30px;
    height: 14px;
    margin-right: 200px;

}

.heading-4 {

margin-left: 180px;   
 width: 270px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.para-4 {
    text-align: left;
   margin-left: 100px;   
 width: 280px;
    height: 51px;
    font-size: 17px;
    gap: 5px;
}
.head4{
    margin-left: 100px;
    
}
.heading-04{
    margin-right: 100px;   
 width: 270px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.col-6{
display: flex;    align-items: center; 
gap: 20px;
}
.heading2{
    /* margin: 311px;
    height: 50px;
    font-size: 46px; */
    color: #75BF7A;

}
.flexible-d{
    margin-right: 100px;
}
.earnings-div{
margin-left: 120px;
}.support-row{
    margin-right: 300px;
}
.flexible{
width: 100px;
height: 90px;
}
.heading-5{
font-size: 33px;
width: 350px;
height: 60px;
}
.paragraph{
    color:#9E9DA2;
    font-size: 18px;
}
.benefit-1{

margin-left: 100px;
width: auto;
height: 200px;
}
.frameimg{
    width: 200px;
    height: 170px;
}
.mobile-div{
position: relative;
}
.mobile-div .mobile {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    height: 600px;
    width: 50%;          
    z-index: -1;        
opacity: 1;}
.earnings-div {
    position: relative;
    z-index: 2;          
    border-radius: 20px;
}
.support-row {
    position: relative;
    z-index: 2;         
    border-radius: 20px;
}



.footer-wrapper {
    background:#263238;
    padding: 60px 40px; 
}

.footer-container {
    max-width: 1200px;  
    margin: 0 auto;    
    
    display: flex;
    justify-content: center; 
    align-items: center;      
    gap: 80px;
}

.footer-left {
    width: 25%;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-text {
    color: #ADB1B6;
    font-size: 14px;
    line-height: 25px;
}

.footer-social {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.footer-social i {
    background:#263238;
    padding: 10px;
    border-radius: 50%;
    color: white;
    font-size: 18px;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-title {
    color: #FFFFFF;
    margin-bottom: 12px;
    font-size: 17px;
}

.footer-link {
    color: #A6A9AD;
    font-size: 15px;
    cursor: pointer;
    color: #F5F7FA;
    text-decoration: none;
}
.footer-subscribe {
    width: 25%;
}

.subscribe-box {
    background:#263238;
    padding: 12px 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.subscribe-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color:#D9DBE1;
}

.subscribe-box i {
    color:#FFFFFF;
    font-size: 18px;
}
img {
    transition: transform 0.4s ease;
}

img:hover {
    transform: scale(1.3); 
}
