* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #ececee;
}

.logo-1 {
    width: 200px;
    height: 50px;
}

ul li {
    color: #000000;
}

.color-white {
    background-color: #75BF7A;
    color: white;
    border: 2px solid #75BF7A;
    border-radius: 5.95px;
    height: 50px;
    width: 182px;
}

.color-white:hover {
    cursor: pointer;
    transition: 0.5sec;
    background-color: #75BF7A;
    color: rgb(17, 15, 15);
}

.heading-3 {
    height: 130px;
    width: 559px;
    color: #000000;
    font-size: 40px;
    font-weight: bold;
}

.para-1 {
    height: 120px;
    width: 550px;
    color: #9E9DA2;
    font-style: Gilroy;
    font-size: 20px;
}

.location {
    width: 200px;
    height: auto;
}

.location-1 {
    height: 400px;
    width: 500px;
}

/* .large-button{
    background-color: #75BF7A;
    width: 100px;
    height: 100px;
} */
.section-hero-1 {
    width: 100px;
    height: 50px;
}

.row-1 {
    border-radius: 5.95px;
    max-width: 100%;
    width: 1350px;
    height: 100px;
    background-color: #75BF7A;
}

.btn-1 {
    background-color: #000000;
    color: #ffffff;
    height: 60px;
    width: 270px;
    border-radius: 5px;

}

.para-2 {
    color: #ffffff;
    text-align: left;
}

.input {
    width: 300px;
}

.heading-2 {
    text-align: center;
    width: 400px;
    height: 50px;
    font-style: Gilroy;
    font-weight: bold;
}

.para-3 {
    width: 690px;
    height: 90px;
    text-align: center;


}

.col-3 {
    position: relative;
    border-radius: 2px;
}

.img {
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
    margin-left: 300px;
}

.imga {
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
    margin-left: 100px;
}

.image1 {
    position: absolute;
    top: 12px;
    left: 120px;
    width: 30px;
    height: 14px;
    margin-left: 200px;
}

.images3 {
    position: absolute;
    top: 255px;
    left: 120px;
    width: 30px;
    height: 14px;
    margin-left: 200px;

}

.image2 {
    position: absolute;
    top: 12px;
    left: 120px;
    width: 30px;
    height: 14px;
    margin-right: 200px;
}

.images4 {
    position: absolute;
    top: 255px;
    left: 120px;
    width: 30px;
    height: 14px;
    margin-right: 200px;

}

.heading-4 {

    margin-left: 180px;
    width: 270px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.para-4 {
    text-align: left;
    margin-left: 100px;
    width: 280px;
    height: 51px;
    font-size: 17px;
    gap: 5px;
}

.head4 {
    margin-left: 100px;

}

.heading-04 {
    margin-right: 100px;
    width: 270px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.col-6 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.heading2 {
    /* margin: 311px;
    height: 50px;
    font-size: 46px; */
    color: #75BF7A;

}

.flexible-d {
    margin-right: 120px;
}

.earnings-div {
    margin-left: 120px;
}

.flexible {
    width: 100px;
    height: 90px;
}

.heading-5 {
    font-size: 33px;
    width: 350px;
    height: 60px;
}

.paragraph {
    color: #9E9DA2;
    font-size: 18px;
}



.frameimg {
    width: 200px;
    height: 170px;
}

.mobile-div {
    position: relative;
    background: transparent;
}

.mobile-div .mobile {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    height: 600px;
    width: 50%;
    z-index: 2;
    opacity: 1;
}

.earnings-div {
    position: relative;
    z-index: 2;
}

.support-div {
    position: relative;
    z-index: 2;

}

.sup-para {
    width: 600px;
}

.main-footer {
    margin-top: 250px;
    background-color: #ffffff;
}

.foot-img {

    text-align: center;
    gap: 2px;
}

.foot-logo {
    width: 200px;
}

.last-div span {
    color: #75BF7A;
}





@media only screen and (max-width: 1400px) {
    .middle-row {
        justify-content: center;
        flex-direction: column;
        gap: 50px;
    }

    .input-div {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .header-row {
        flex-direction: column;
        align-items: center;
    }

    .right-row {
        order: -1;
    }

    .input-div {
        display: none;
    }
}

@media (max-width: 1000px) {
    .row-1 {
        flex-wrap: wrap;
        display: flex;
        height: 250px;
        width: 320px;
    }

    .section-hero-1 {
        flex-wrap: wrap;
        height: 220px;
        width: 320px;
    }



    .row-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    .col-3 {
        position: relative;
    }

    .flexible-time {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        width: 400px;
        height: 600px;
    }

}

@media only screen and (max-width: 992px) {

    .navUl a {
        text-align: center;
    }

    .navUl button {
        text-align: center;
        margin-left: 230px;
    }
}

@media only screen and (max-width: 800px) {}